@import "../abstract/variables.scss";

.form__container {
  margin-left: 10rem;
  padding-top: 3rem;
  padding-right: 10rem;
  padding-bottom: 20rem;
  overflow-y: scroll;
  height: 86dvh;

  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-slate-gray;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-light-gray;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-steel-gray;
  }

  &--title {
    margin-bottom: 3rem;
    color: $color-dark-gray;
    font-size: 3rem;
  }

  &--subtitle {
    margin-bottom: 3rem;
    color: $color-light-gray;
    font-size: 1.6rem;
  }

  &--two-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
