@import "../abstract/variables.scss";

.add__container {
  margin-top: 2rem;
  width: 100%;
  border: none;

  &--btn {
    display: flex;
    background-color: $color-white;
    width: 100%;
    padding: 2rem;
    color: $color-light-blue;
    text-align: left;
    font-weight: 400;
    font-size: 1.6rem;
    align-items: center;
    border: none;
    gap: 1rem;

    &:hover {
      cursor: pointer;
      background-color: rgba($color-light-blue, 0.05);
    }
  }
}
