@import "../abstract/variables.scss";

.details {
  display: flex;
  justify-content: space-between;
  gap: 4rem;

  &__name {
    width: 55%;
  }
}

.additional_fields {
  display: flex;
  gap: 3rem;
}

.additional-input {
  display: grid;
  grid-template-columns: 15fr 1fr;
  gap: 2rem;
  align-items: center;
  position: relative;

  &__btn {
    background-color: transparent;
    position: absolute;
    right: 0%;
    top: 30%;
    font-size: 2rem;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
