@import "../abstract/variables.scss";

.delete {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  &__icon {
    background-color: rgba($color-light-red, 0.2);
    color: $color-dark-red;
    font-size: 4rem;
    padding: 1rem 1.5rem;
    border-radius: 50%;
  }

  &__details {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &--title {
      font-size: 2.5rem;
    }

    &--text {
      font-size: 1.6rem;
      width: 30rem;
      color: $color-steel-gray;
    }
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;

    &--cancel {
      color: $color-iron-gray;
      border: 1px solid $color-slate-gray;
      background-color: $color-white;

      &:hover {
        cursor: pointer;
        color: $color-black;
      }
    }

    &--confirm {
      border: 1px solid $color-light-red;
      color: $color-white;
      background-color: $color-light-red;

      &:hover {
        cursor: pointer;
        background-color: $color-dark-red;
      }
    }
  }
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 1.6rem;
}
