@import "../abstract/variables.scss";

.btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;

  &__cancel {
    background-color: transparent;
    border: 1px solid $color-iron-gray;
    font-size: 2rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
    color: $color-iron-gray;
    transition: all $animation-duration;

    &:hover {
      cursor: pointer;
      background-color: rgba($color-light-blue, 0.05);
      color: $color-black;
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $color-white;
    text-transform: uppercase;
    background-color: $color-light-blue;
    padding: 0.8rem 1.6rem;
    border: 1px solid $color-light-blue;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all $animation-duration;

    &:hover {
      cursor: pointer;
      background-color: $color-dark-blue-1;
      border: 1px solid $color-dark-blue-1;
    }
  }
}

.end-date {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.present-date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  color: $color-dark-gray;
}
