@import "../abstract/variables.scss";

.ability-text {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.ability-fields {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 4rem;
  justify-content: space-between;
}

.btn__container {
  display: flex;
  justify-content: flex-end;

  &--save {
    background-color: $color-white;
    border: none;
    text-transform: uppercase;
    color: $color-light-blue;
    padding: 8px 16px;
    border: 1px solid $color-light-blue;
    border-radius: 20px;
    font-size: 16px;
    margin-left: auto;

    &:hover {
      color: $color-white;
      background-color: $color-light-blue;
      cursor: pointer;
    }
  }
}
