@import "../abstract/variables.scss";

.template {
  display: flex;
  flex-direction: column;
  background-color: $extra-light-gray;
  gap: 1rem;
  padding: 1rem 2rem;
  overflow-y: scroll;
  height: 100vh;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__preview {
    align-self: flex-end;
  }

  &__resume {
    grid-column: 2;
    grid-row: 1;
    height: 80vh;
  }
}
