@import "../abstract/variables.scss";

.skills__container {
  border-bottom: 1px solid $color-light-gray;
  margin-right: 4rem;
  padding-bottom: 1.5rem;

  &--title {
    font-weight: 300;
    color: $color-dark-gray;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
  }

  &--list {
    padding-left: 1.5rem;

    &--item {
      padding-top: 5px;
    }
  }
}
