@import "../abstract/variables.scss";

.tab__container {
  padding: 1rem;
  background-color: $color-light-blue;
  color: $color-white;
  border-radius: 4rem;
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  width: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  padding-right: 0.5rem;

  &--btn {
    border: none;
    background-color: transparent;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--text {
    font-size: 1.6rem;
  }

  &--icon {
    width: 3rem;
    height: 3rem;

    &:hover {
      cursor: pointer;
    }
  }
}
