//COLORS
$color-white: #fff;
$color-show-white: #fdfdfd;
$color-black: #000;
$color-light-gray: #a9a9a9;
$color-steel-gray: #71797e;
$color-slate-gray: #818589;
$color-graphite-gray: #5a5e61;
$color-iron-gray: #484c4f;
$color-dark-gray: #333333;
$color-light-blue: #0096ff;
$color-dark-blue-1: #004080;
$color-dark-blue-2: #00326a;
$extra-light-gray: #f2f2f2;
$color-light-red: #d70040;
$color-dark-red: #a30030;

//animations
$animation-duration: 0.4s;
