@import "../abstract/variables.scss";

.preview-container {
  background-color: $extra-light-gray;
  height: auto;

  &__resume {
    width: 50%;
    margin: 0 auto;
    padding-top: 5rem;
    transform: scaleY(1.1);
    padding: 10rem 0;
  }
}
